body {
  background-image: url(../images/app-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main-row {
  height: 80vh;
}
#new-msg,
#new-channel-name {
  margin: 1rem 0;
}
.scrolling.content {
  height: 60vh;
}
.all-channels.scrolling.content.ui.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.item:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.row {
  margin-top: 1em;
}
.active {
  background-color: grey;
}
#new-channel,#send-message {
  width: 100%;
}
form {
  margin: 1rem;
}
.actions{
  text-align: right;
}
#display-msg{
  background-image: url(../images/message-display.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


